@import './css/reset.css';

@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealBook.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealMedium.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Black';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirbnbCerealBlack.woff') format('woff');
}



*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: 'Airbnb Cereal App Book', Helvetica;
  max-width: 165.6rem;
  margin: 0rem auto;
}

.hidden{
  display: none !important;
}




.header {
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-family: 'Airbnb Cereal App Book';
}

.header__wrapper{
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 2.2rem;
  font-family: 'Airbnb Cereal App Bold';
}

.header__navigation {
  margin-left: 3.2rem;
}

.header__login {
  margin-left: 3.2rem;
}

.active-nav{
  text-decoration: underline;
}




.banner{
  margin: 4rem 2rem 7.2rem 2rem;
  background-color: #20B6E4;
  height: 56.3rem;
  display: grid;
  grid-template-columns: auto 62%;
}

@media (max-width: 1100px) {
  .banner{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.art{
  overflow: hidden;
  position: relative;
}

@media (max-width: 270px) {
  .art{
    display: none;
  }
  .banner{
    height: 40rem;
  }
}

.art__svg{
  position: absolute;
}

.art__svg:nth-child(1){
  left: -10%;
  top: -30%;
}

.art__svg:nth-child(2){
  left: 5%;
  bottom: -30%;
}

.art__svg:nth-child(3){
  left: 35%;
  top: -15%;
  z-index: 99;
}

.art__svg:nth-child(4){
  left: 70%;
  bottom: -10%;
}

.info{
  padding: 3.2rem 2.4rem 3.8rem 2.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__text--title{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Bold';
}

.info__text--subtitle{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Bold';
  opacity: 0.5;
}

.info__text--paragraph{
  margin-top: 0.8rem;
  font-size: 1.8rem;
  line-height: 138.2%;
  max-width: 34rem;
}

.info__cta--info{
  font-size: 1.8rem;
  line-height: 138.2%;
  margin-bottom: 2.2rem;
}

.info__cta--btn{
  color: #20B6E4;
  padding: 0.6rem 1.1rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  background-color: white;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.info__cta--btn:hover{
  opacity: 0.6;
}



.products{
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 3.2rem;
}

.product__img{
  width: 100%;
  height: 100%;
}

.product{
  margin-bottom: 3.2rem;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.product:hover{
  opacity: 0.6;
}

@media (max-width: 1100px) {
  .products{
    grid-template-columns: repeat(3, 1fr);
  }

  .product{
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 650px) {
  .products{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
  }
}

@media (max-width: 430px) {
  .products{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.6rem;
  }
}



.product__title{
  font-size: 1.8rem;
  font-family: 'Airbnb Cereal App Medium';
  margin: 1.6rem 0 0.6rem 0;
}

.product__price{
  font-size: 1.8rem;
  opacity: 0.8;
}

.promo__wrapper{
  display: flex;
}

.product__price--spe{
  margin-left: 1rem;
  font-size: 1.8rem;
  opacity: 0.4;
  text-decoration: line-through;
}

.product__promo--spe{
  font-size: 1.8rem;
  opacity: 0.8;
}



.footer{
  margin: 3.2rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #F6F6F6;
  height: 100%;
}

.footer__art{
  position: relative;
  overflow: hidden;
  background-color: #20B6E4;
}

@media (max-width: 380px) {
  .footer__art{
    display: none;
  }
}

.footer__art--svg{
  position: absolute;
}

.footer__art--svg:nth-child(1){
  left: -10%;
  top: -10%;
}

.footer__art--svg:nth-child(2){
  left: 15%;
  bottom: -15%;
}

.footer__art--svg:nth-child(3){
  left: 42.5%;
  top: -15%;
  z-index: 99;
}

.footer__art--svg:nth-child(4){
  left: 70%;
  bottom: -10%;
}

.newsletter{
  margin: 5.9rem 5rem 5.9rem 5rem
}

@media (max-width: 600px) {
  .newsletter{
    margin: 5.9rem 2rem 5.9rem 2rem
  }
}

.newsletter__title{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Bold';
  margin-bottom: 0.6rem;
  line-height: 1.2;
  max-width: 47.8rem;
}

.newsletter__subtitle{
  font-size: 1.6rem;
  line-height: 1.38;
  margin-bottom: 2.4rem;
  max-width: 45rem;
}

.newsletter__form--input{
  height: 4.9rem;
  max-width: 29.5rem;
  border: 0.1rem solid #B5B5B5;
  background-color: #F6F6F6;
  padding: 0 1.4rem;
  font-size: 1.6rem;
}

.newsletter__form--submit{
  height: 4.9rem;
  width: 6.8rem;
  background-color: #20B6E4;
  border: none;
  font-size: 1.6rem;
  font-family: 'Airbnb Cereal App Medium';
  color: white;
  margin-left: 1.6rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  -webkit-appearance: none;
  border-radius: 0;
}

@media (max-width: 420px) {
  .newsletter__form--submit{
    margin-left: 0;
    margin-top: 1.6rem;
  }
  .newsletter__form--input{
    width: 100%;
  }
}

.newsletter__form--submit:hover{
  opacity: 0.6;
}

@media (max-width: 1110px) {
  .footer{
    grid-template-columns: 1fr;
  }

  .footer__art{
    height: 10rem;
  }
}


.credits{
  font-size: 1.6rem;
  margin: 6.4rem 2rem 6.4rem 2rem;
  line-height: 1.4;
}



.about{
  margin: 0 2rem;
  height: 56.3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #20B6E4;
  overflow: hidden;
  color: white;
}



.about__title{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Bold';
}

.about__wrapper{
  margin: 0 2.4rem;
}

.about__subtitle{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Bold';
  opacity: 0.5;
}

.about__text{
  margin-top: 0.8rem;
  font-size: 1.8rem;
  line-height: 138.2%;
  max-width: 50rem;
}

.about__svg{
  position: relative;
}

@media (max-width: 1450px) {
  .about{
    grid-template-columns: 1fr;
  }

  .about__svg{
    display: none;
  }
}

.about__svg--item{
  position: absolute;
  z-index: 99;
  top: -35rem;
  right: -5rem;
}

.timeline{
  margin: 7.2rem 2rem 8rem 2rem;
}

.timeline__wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 29.6rem);
  grid-gap: 2.8rem;
}

@media (max-width: 1000px) {
  .timeline__wrapper{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 29.6rem);
  }
}

@media (max-width: 587px) {
  .timeline__wrapper{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 29.6rem);
  }
}


.timeline__item div{
  height: 85%;
  margin: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline__item:nth-child(1){
  background-color: #D11249;
  color: white;
}

.timeline__item:nth-child(2){
  background-color: #F1710A;
}

.timeline__item:nth-child(3){
  background-color: #E6C22C;
}

.timeline__item:nth-child(4){
  background-color: #F4F4F8;
}

.timeline__item:nth-child(5){
  background-color: #53599A;
  color: white;
}

.timeline__item:nth-child(6){
  background-color: #20B6E4;
}

.timeline__item--date{
  font-size: 3.6rem;
  font-family: 'Airbnb Cereal App Medium';
}

.timeline__item--text{
  font-size: 1.8rem;
  font-family: 'Airbnb Cereal App Book';
  line-height: 1.4;
}





.scrolltotop{
  opacity: 0;
  z-index: 999999;
  position: fixed;
  background-color: #20B6E4;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
